.blog {
  margin: 2rem;
  border: 3px solid #333;
  padding: 1rem 15rem;
}

.title {
  border-bottom: 3px solid #333;
  display: flex;
  align-items: center;
  margin-block-end: 1rem;
  justify-content: center;
  position: relative;
  padding-block: 1rem 3rem;
}

.title h1 {
  text-transform: capitalize;
}

.title button {
  float: left;
  position: absolute;
  left: 0;
  border: 2px solid #333;
  background-color: transparent;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.description {
  text-align: justify;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.4;
}
